<%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %><br>
<%#= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>

<h2>How it works</h2>
<ol>
	<li>Cook delicious food and create a menu of dishes.</li>
	<li>Place your menu items up for sale (if you wish).</li>
	<li>Share your dishes with friends.</li>
</ol>

<h2>What's Cookin?</h2>

<%= render 'dishes/dish_feed' %>