Creation and Community
<h2>thank you <%= link_to("based god", "http://www.urbandictionary.com/define.php?term=based+god", :target => '_blank') %></h2>
<iframe width="560" height="315" src="//www.youtube.com/embed/L_6DH1_SSVY?rel=0" frameborder="0" allowfullscreen></iframe>