<div id="about" class="container">
    <div class="row">
    	<div class="col-sm-12 text-left">
    	<h1> BasedChef.com</h1>
    	<p>When it comes to food, nothing quite beats having a home cooked meal. Although you may not have the time or energy to cook at home tonight, chances are, one of your neighbors does. In our busy lives, we are often forced to choose convenience over comfort. Basedchef is an attempt to make home cooked meals convenient, and more importantly, bring our communities closer together through the sharing of food.<p> 
        <h3>Now for some cooking lessons by Lil B</h3>
        <iframe width="400" height="225" src="//www.youtube.com/embed/L_6DH1_SSVY?rel=0" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
</div>