<div id="about" class="container">
    <div class="row">
    	<div class="col-sm-12 text-center">
        <h1>Cooking Lessons</h1>
        <iframe width="560" height="315" src="//www.youtube.com/embed/L_6DH1_SSVY?rel=0" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
</div>