<!-- Jumbotron -->
<div id="spotlight" class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Sell home cooked meals in your neighborhood.</h1>
        <div class="box">
          <ul class="list-unstyled lead"> 
            <li class="clearfix">1.  Sign up for free!</li>
            <li class="clearfix">2.  Add a dish (or two) to your online menu</li>
            <li class="clearfix">3.  Share and sell your dishes</li>
          </ul>
        </div>
      </div>
    </div>

    <% if signed_in? %>
      <ul class="list-unstyled lead">
        <%= link_to "Go to My Profile", current_user, class: "btn btn-primary btn-lg", onclick: "ga('send', 'event', 'hp_profile', 'click');" %>
      </ul>
    <% else %>
      <%= link_to_login_with "Sign up with Facebook", "/auth/facebook", { width: '660', height: '330' } %>
    <% end %>
    <%= render 'dishes/dish_feed' %>
  </div>
</div>


<%#= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>



  <script type="text/javascript">
    $(document).ready(function() { 

      $.backstretch('/assets/jumbo-bg.jpg');

    //   // Feedback Tab
    //   $('.feedback_link').feedback( {
    //       tabPosition: 'right'
    //   }); 
    
    });
  </script>