<!-- Panel Header -->
<div id="whats-cookin">
  <h2>What's Cooking?</h2>

  <% @dishes.each do |dish| %>
    <div class="list-group pull-left">
      <%= link_to image_tag(dish.assets.first.photo(:medium)), dish, onclick: "ga('send', 'event', 'hp_dish_feed_img', 'click');" %>
    </div>
  <% end %>
</div>