<!-- Panel Header -->
<div id="whats-cookin">
  <h2>What's cookin'?</h2>

  <% @dishes.each do |dish| %>
    <div class="thumbnail pull-left">
      <%= link_to image_tag(dish.assets.first.photo(:medium)), dish %>
    </div>
  <% end %>
</div>