.navbar .dropdown img {
  border: 2px solid white;
  margin-right: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.25);
}

#spotlight {
  background-color: transparent;
  min-height: 100%;
  margin-top: 50px;
}

#spotlight .container {
  padding: 50px 0;
}

#spotlight h1 {
  margin-top: 0;
  margin-bottom: 40px;
  color: white;
  text-shadow: 0 1px 10px rgba(0,0,0,0.75);
}

#spotlight .box {
  border: 1px;
  border-style: dotted;
  border-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  width: 400px;
  height: 120px;
}

#spotlight ul {
  padding: 20px 0 20px 20px;
  color: white;
  text-shadow: 0 1px 10px rgba(0,0,0,0.75);
  font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
}

#spotlight li {
  font-size: 19px;
}

#spotlight .form-group:first-child {
  padding-left: 0;
}

#spotlight .btn {
  margin-top: 25px;
  padding: 16px 24px;
  font-size: 22px;
  background-color: #3B5998;
  border-color: #3B5998;
}

#spotlight #sign_in {

}

.panel .panel-heading {
  height: 50px;
}

.panel .panel-heading h2 {
  font-size: 24px;
  line-height: 1.5em;
}

#how-it-works {
  height: 455px;
}

#how-it-works li {
  font-size: 20px;
  margin: 25px 20px;
}

#how-it-works li .icon-border {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-color: #666;
  text-align: center;
  margin-top: 2px;
  margin-right: 20px;
}

#how-it-works li .glyphicon {
  top: 0px;
  left: -1px;
  font-size: 20px;
  line-height: 50px;  
  color: #fff;
}

#how-it-works .btn {
  margin-bottom: 9px;
}

#whats-cookin h2 {
  padding-top: 15px;
  color: white;
  text-shadow: 0 1px 10px rgba(0,0,0,0.75);
}

#whats-cookin .list-group {
  margin: 0 15px 15px 0;
  border-style: solid;
  border-color: white;
}


footer .container {
  padding-bottom: 10px;
}

#spotlight .glyphicon {
  display: none;
}

@media (min-width: 768px) {
  .jumbotron h1 {
    font-size: 52px;
  }
}


@media (min-width: 1200px) {
  #spotlight .glyphicon {
    display: inline-block;
  }

  .jumbotron h1 {
    font-size: 62px;
  }
}

/* USERS PAGE */

#user-profile {
  margin-top: 70px;
}

#menu .list-group {
  margin-bottom: 10px;
}

#menu .pull-left h4 {
  margin-left: 10px;
}

#menu .pull-left p {
  margin-left: 10px;
}

#menu .list-group h3 a {
  font-weight: bold;
}

#menu .list-group .btn {
  margin-top: 2px;
  margin-right: 2px;
}

#menu .list-group-item-text {
  width: 400px;
}

/* SETTINGS */
#settings {
  margin-top: 70px;
}

/* ABOUT */
#about {
  margin-top: 70px;
}

/* CHEFS */
#chefs {
  margin-top: 70px;
}

/* DISHES */
#dishes {
  margin-top: 70px;
}

/* DISH PAGE */
#dish-page {
  margin-top: 70px;
}

/* ADD DISH */
#add-dish {
  margin-top: 70px;
}

/* EDIT DISH */
#edit-dish {
  margin-top: 70px;
}

#profile-menu {
  min-height: 480px;
}

.no-items {
  margin-top: 140px; 
  font-size: 20px; 
  line-height: 50px;
}

footer p {
  color: white;
}